# This file contains a list of things to *not* add to the git repository

# Object files
*.o

# Executable files
*_x
*.x

# Default output files, in case a case gets run in the main directory

# Grids
xgrid*
ygrid*
zgrid*
# Matlab reader files
*reader.m
# Numbered output files
*.[0-9]*


# Any vim swap files
*.swp

# and Matlab temporaries
*.m~

# exclude the supporting UMFPACK/UFconfig/AMD libraries

/UMFPACK
/UFconfig
/AMD
/include
/lib

# Also exclude blitz and fftw, if these are local to the build

/blitz
/fftw*

# And any tarballs
*.tgz
*.tar.gz
*.tar

# temporaries

*tmp/*
*tmp

# Exclude the system-specific make file
src/system.mk
